body{
    background-image: url("./close-up-cheese-pizza-texture-118717380.webp");
}

.moreCheese{

}

.titre2 {
    color: red;
}

.titre3 {
    color: green;
}

.titre4 {
    color: yellow;
}

.cheese{
    color:rgb(225, 250, 2);
}

.titre5 {
    color: rgb(122, 74, 7);
}
.paragraphe{
    color: green;
    background-color: rgba(255, 0, 0, 0.26);
    width: 75%;
    border: 1px solid black;
}

.listcheese{
    color: rgb(228, 7, 7);
    background-color: rgba(4, 117, 4, 0.377);
    width: 75%;
    border: 1px solid black;
}

.cheeseconclusion{
    color: rgb(228, 7, 7);
    background-color: rgba(4, 117, 4, 0.377);
    width: 75%;
    border: 1px solid black;
}

.cheesestart{
    color: green;
    background-color: rgba(255, 0, 0, 0.26);
    width: 75%;
    border: 1px solid black;
}
